<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="footer">
		<div class="footer-area black-bg-2 pt-70">
			<div class="footer-top-area pb-18">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="footer-about mb-40">
								<div class="footer-logo">
									<a href="index.html">
										<img th:src="@{/assets/img/logo/footer-logo.png}" alt="">
									</a>
								</div>
								<p></p>
								<div class="payment-img">
									<a href="#">
										<img th:src="@{/assets/img/icon-img/payment.png}" alt="">
									</a>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="footer-widget mb-40">
								<div class="footer-title mb-22">
									<h4>Get in touch</h4>
								</div>
								<div class="footer-contact">
									<ul>
										<li>Address: 1 Võ Văn Ngân, Phường Linh Chiểu, Thành phố Thủ Đức, Thành phố Hồ Chí Minh.</li>
										<li>Telephone Enquiry:  (+84 -028) 3896133 </li>
										<li>Email: <a href="#">ptchc@hcmute.edu.vn</a></li>
									</ul>
								</div>
								<div class="mt-35 footer-title mb-22">
									<h4>Get in touch</h4>
								</div>
								<div class="footer-time">
									<ul>
										<li>Open:  <span>8:00 AM</span> - Close: <span>18:00 PM</span></li>
										<li>Saturday - Sunday: <span>Close</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="col-12 col-md-5 col-sm-12 mb-2">
								<div class="w-100" style="height: auto;">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4853986110666!2d106.7693381737367!3d10.850637657823157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752763f23816ab%3A0x282f711441b6916f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgcGjhuqFtIEvhu7kgdGh14bqtdCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1702411779927!5m2!1svi!2s" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="footer-bottom-area border-top-4">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-7">
							<div class="copyright">
								<p>&copy; 2022 <strong> Billy </strong> Made with <i class="fa fa-heart text-danger"></i> by <a href="https://hasthemes.com/" target="_blank"><strong>HasThemes</strong></a></p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-5">
							<div class="footer-social">
								<ul>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
									<li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
									<li><a href="#"><i class="ion-social-rss"></i></a></li>
									<li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>