<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <div th:fragment="slider">
        <div class="slider-area">
        <div class="slider-active owl-dot-style owl-carousel">
            <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider_4.jpg);">
                <div class="slider-btn mt-90">
                    <a href="">View Detail</a>
                </div>
            </div>
            <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider_0.png);">
                <div class="slider-btn mt-90">
                    <a href="">View Detail</a>
                </div>
            </div>
            <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider_2.png);">
                <div class="slider-btn mt-90">
                    <a href="">View Detail</a>
                </div>
            </div>
            <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider_1.jpg);">
                <div class="slider-btn mt-90">
                    <a href="">View Detail</a>
                </div>
            </div>
            <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider_3.jpg);">
                <div class="slider-btn mt-90">
                    <a href="">View Detail</a>
                </div>
            </div>
            <div class="single-slider pt-210 pb-220 bg-img" style="background-image:url(assets/img/slider/slider_5.jpg);">
                <div class="slider-btn mt-90">
                    <a href="">View Detail</a>
                </div>
            </div>

        </div>
    </div>
    </div>
</body>
</html>